/*#nvb{
	background-color: #444A47 ;
	color: white ;
}
*/
@media screen and (min-width: 992px) {
	#myimgid{
		border-radius: 10000px ;
		margin-right: 100px ;
		max-height: 100% ;
		max-width: 100% ;
	}
}

@media screen and (max-width: 992px) {
  #myimgid{
  	border-radius: 10000px ;
	max-height: 80% ;
	max-width: 80% ;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  }
}

#mybtnid{
	border-radius: 50px;
	text-align: center;
	background-color: #444A47 ;
	color: white ;
	transition: 0.3s;
}

#mybtnid:hover{
	background-color: #F06449 ;
	color: white ;
	transition: 0.3s;
	text-align: center;
}

#h2id{
	color: white ;
	text-align: center;
}


#linked{
	margin-left: 0px;
}

.socico{
	font-size: 35px;
	transition: 0.2s;
	/*margin-left:20px;*/
}


#insta:hover{
	color: #AC1F48 ;
}

#twit:hover{
	color: #3bb7ff ;
}

.socico:hover{
	/*font-size: 40px ;*/
	color: #1F729C ;
	background-color: #1D211F ;
	border-radius: 10000px ;
	border-width: thick ;
	/*border-radius: 30px ;*/
}

#secid{
	background-color: #1D211F ;
}

.ski{
	color: white ;
}

.icocla{
	color: white ;
}

@media screen and (min-width: 992px) {
  #abutid{
  	margin-left: 200px ;
  }
}

@media screen and (max-width: 992px) {
  #abutid{
  	text-align: center ;
  }
}


.skillicon{
	margin-top: 16px; 
	font-size: 60px; 
	color: white;
	margin-bottom: 10px;
	/*transition: 0.2s ;*/
}

#camer{
	margin-top: 20px; 
	margin-bottom: 17px; 
	font-size: 40px; 
	color: white;
	transition: 0.2s ;
}

#camer:hover{
	transform-style: smooth ;
	font-size: 60px ;
	color: #AC1F48 ;
}

#htm{
	transition: 0.2s ;
}

#htm:hover{
	transform-style: smooth ;
	font-size: 80px ;
	color: #DF5A42 ;
}


#cs{
	transition: 0.2s ;
}

#cs:hover{
	transform-style: smooth ;
	font-size: 80px ;
	color: #3bb7ff ;
}

#javas{
	transition: 0.2s ;
}

#javs:hover{
	transition-duration: 0.3s ;
	transform-style: smooth ;
	font-size: 80px ;
	color: #FABC3C ;
}

#nod{
	transition: 0.2s ;
}

#nod:hover{
	transition-duration: 0.2s ;
	transform-style: smooth ;
	font-size: 80px ;
	color: #414E36 ;
}

#cpp{
	font-size: 50px ;
	transition: 0.2s ;
}

#cpp:hover{
	transition-duration: 0.2s ;
	transform-style: smooth ;
	font-size: 80px ;
	color: #AC1F48 ;
}


